ul {
    list-style-type: none;
    text-align: center;
    width: 120px;
    padding: 0;
  }
  
  li {
    background-color: #00F;
    color: #FFF;
    border: 2px solid #FFF;
  }
  
  li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  li a:hover, li a:focus {
    outline: 2px solid #F00;
  }